@keyframes poc_viewer_layers_appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.poc-viewer__layers {
    display: block;
    width: 250px;
    position: absolute;
    top: 8px;
    right: 40px;
    animation: poc_viewer_layers_appear 50ms;
    
    color: var(--button-panel-modal-text-color-2);
    font-size: 13px;

    box-shadow: inset 0 0 0px 1px #eff1f030, 0 0 5px 0 rgba(0, 0, 0, 0.348);
    background-color: var(--button-panel-modal-bg-2);
    border: 1px solid var(--button-panel-modal-border);
    border-radius: 5px;

    /* text-shadow: 0px 1px 1px #00000090; */

    overflow: hidden;

    user-select: none;
}

.poc-viewer__layers:not(.open) {
    display: none;
}

.poc-viewer__layers_top {
    padding: 4px 16px;
    border-bottom: 1px solid var(--button-panel-modal-border);
    background-color: var(--button-panel-modal-bg-1);
    color: var(--button-panel-modal-text-color-1);
    box-shadow: inset 0 0 0px 1px #eff1f020;
    position: relative;
}

.poc-viewer__layers_main {
    padding: 14px 16px 20px;
    
    max-height: 300px;
    overflow: hidden auto;
}
.poc-viewer__layers_main::-webkit-scrollbar {
    height: 8px;
    width: 15px;
}
.poc-viewer__layers_main::-webkit-scrollbar-track {
    -webkit-border-radius: 0;
    border-radius: 0;
}
.poc-viewer__layers_main::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 6px solid var(--button-panel-modal-bg-2);
    background: var(--button-panel-modal-thumb-color);
}
.poc-viewer__layers_main::-webkit-scrollbar-thumb:hover {
    background: var(--button-panel-modal-thumb-color-hover);
}
.poc-viewer__layers_main::-webkit-scrollbar-thumb:window-inactive {
    background: var(--button-panel-modal-thumb-color);
}


.poc-viewer__layers_top .anticon-close {
    position: absolute;
    right: 5px;
    top: 50%;
    font-size: 12px;
    transform: translateY(-50%);
}
.poc-viewer__layers_top .anticon-close:hover {
    opacity: 0.6;
}


.poc-viewer__layers_global {
    /* height: 50px; */
    /* background-color: red; */
    padding: 4px 16px 0;
    border-bottom: 1px solid var(--button-panel-modal-border);
}

.poc-viewer__layers_global_option {
    cursor: pointer;
    margin-bottom: 6px;
}

.poc-viewer__layers_global_option > .ant-checkbox-wrapper {
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
    margin-right: 4px;
}

.poc-viewer__layers_global_option > .ant-checkbox-wrapper .ant-checkbox-input {
    margin: 0;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-color: red;
}


.poc-viewer__layers_layer {
    margin-bottom: 10px;
}

.poc-viewer__layers_layer_main-bar {
    display: flex;
    margin-bottom: 4px;
    justify-content: flex-start;
}

.poc-viewer__layers_layer_main-bar > .eye-button {
    cursor: pointer;
    margin-right: 10px;
    transform: translateY(1px) scaleX(1.1);
}

.poc-viewer__layers_layer_main-bar > .eye-button:hover {
    opacity: 0.75;
}

.poc-viewer__layers_layer_main-bar > .eye-button > .anticon-eye-invisible {
    opacity: 0.5;
}

.poc-viewer__layers_layer_main-bar > .expand-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    font-size: 9px;
    margin-right: 4px;
    transform: translateY(3px) rotate(-90deg);
}

.poc-viewer__layers_layer_main-bar > .expand-button:hover {
    opacity: 0.6;
}

.poc-viewer__layers_layer_main-bar > .expand-button.expanded {
    transform: translateY(3px);
}

.poc-viewer__layers_layer_main-bar > .expand-button .anticon {
    display: block;
}

.poc-viewer__layers_layer_level-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.poc-viewer__layers_layer_options {
    position: relative;
    padding-left: 35px;
    margin-top: 8px;;
    margin-bottom: 12px;
}

.poc-viewer__layers_layer_options::before {
    position: absolute;
    content: '';
    left: 7px;
    top: 4px;
    display: block;
    width: 1px;
    height: calc(100% - 5px);
    background-color: var(--button-panel-modal-text-color-2);
    opacity: 0.3;
}

.poc-viewer__layers_layer_option {
    margin-bottom: 4px;
}

.poc-viewer__layers_layer_option > .eye-button {
    cursor: pointer;
    margin-right: 10px;
    transform: translateY(1px) scaleX(1.1);
}

.poc-viewer__layers_layer_option > .eye-button:hover {
    opacity: 0.75;
}

.poc-viewer__layers_layer_option > .eye-button > .anticon-eye-invisible {
    opacity: 0.5;
}

