body {
    background-color: #FFFFFF !important;
}

.mock-buttons {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.mock-buttons > div {
    width: 100%;
    color: white;
}

.mock-buttons > button {
    background-color:  #6d86e0;
    color: white;
    outline: 0;
    border: 0;
    width: 70px;
    padding: 4px 6px;
    cursor: pointer;
}
.mock-buttons > button:hover {
    filter: brightness(1.1)
}

.mock-buttons > button.clicked {
    pointer-events: none;
    background-color: #76829c;
    color: #bbbbbb;
    cursor: default;
}

